<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>App Login</h1>
        <a href={{ url_for('signup') }}>Create acount</a>
        <form action={{ url_for('auth') }} method="post">
            <input type="text" name="username"> <br />
            <input type="text" name="password"> <br />
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>